html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
  }
  
  .video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
  }
  
  video {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
  }
  
  @media (max-width: 768px) {
    video {
      width: 100%;
      height: auto;
    }
  }
  
  @media (max-height: 500px) {
    video {
      width: auto;
      height: 100%;
    }
  }

  .button-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../assets/wedding.png') no-repeat center center;
    background-size: cover;
  }
  
  .center-button {
    padding: 15px 30px;
    font-size: 20px;
    color: green;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white */
    border: 2px solid #fff; /* White border */
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .center-button:hover {
    background-color: #fff; /* Solid white on hover */
    color: #007bff; /* Change text color on hover */
  }